* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
#i68o{
  background-repeat:repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/Screenshot_2022-10-23_191616.png');
}
.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.gjs-cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i8pf{
  height:125.89151000976562px;
}
#ic91{
  text-align:center;
  min-height:75px;
}
#i1wm{
  padding:10px;
  font-family:Trebuchet MS, Helvetica, sans-serif;
  color:white;
  text-align:center;
  float:none;
  font-size:63px;
  line-height:55px;
  font-weight:600;
}
#iqho{
  padding:10px;
  font-family:Trebuchet MS, Helvetica, sans-serif;
  color:white;
  text-align:center;
  float:none;
  font-size:22px;
  line-height:26px;
}
#iaz1e{
  text-align:center;
}
#ii7gx{
  padding:10px;
  border-radius:10px 10px 10px 10px;
  background-repeat:repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  text-align:left;
  margin:0 30px 0 30px;
  color:#ffffff;
  font-weight:400;
  font-family:Verdana, Geneva, sans-serif;
  border:3px solid white;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
}
#i0ub1y{
  height:147.703125px;
}
#ikuzos{
  text-align:center;
}
#ia08uy{
  padding:10px;
  color:#ffffff;
  text-align:center;
  font-family:Verdana, Geneva, sans-serif;
  line-height:2px;
}
#ieo6z6{
  padding:10px;
  color:#ffffff;
  text-align:center;
  font-family:Verdana, Geneva, sans-serif;
  line-height:4px;
  font-size:10px;
}
#ixk9s2{
  min-height:55px;
  margin:-5px 0 0 0;
}
#i0uanu{
  height:63.1314697265625px;
}
#irn65b{
  display:inline-block;
  min-height:41px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:41px;
  width:30px;
  max-width:30px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/HomeIcon.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid white;
  margin:6px 7px 6px 7px;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#isnbgz{
  font-family:Verdana, Geneva, sans-serif;
  text-align:center;
  display:inline-block;
  padding:0 0 0 0;
  position:absolute;
  margin:-15px 0 0 -52px;
  width:103px;
}
#ia010i{
  display:inline-block;
  min-height:31px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:41px;
  width:119px;
  max-width:119px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/QuestionIcon.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid #5bb9ff;
  margin:6px 7px 6px 7px;
  padding:22px 0 0 0;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#i0gip5{
  font-family:Verdana, Geneva, sans-serif;
  text-align:center;
  display:inline-block;
  padding:0 0 0 0;
  position:absolute;
  margin:-15px 0 0 -52px;
  width:103px;
}
#i97tc4{
  display:inline-block;
  min-height:31px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:41px;
  width:119px;
  max-width:119px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/ProjectsIcon.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid white;
  margin:6px 7px 6px 7px;
  padding:22px 0 0 0;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#irwrhx{
  font-family:Verdana, Geneva, sans-serif;
  text-align:center;
  display:inline-block;
  padding:0 0 0 0;
  position:absolute;
  margin:-15px 0 0 -52px;
  width:103px;
}
#isp19b{
  display:inline-block;
  min-height:31px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:41px;
  width:119px;
  max-width:119px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/LinkIcon.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid white;
  margin:6px 7px 6px 7px;
  padding:22px 0 0 0;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#i97tc4:hover{
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.06) scaleY(1.06);
  border:3px solid #0065bd;
}
#isp19b:hover{
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.06) scaleY(1.06);
  border:3px solid #0065bd;
}
#ia010i:hover{
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.06) scaleY(1.06);
  border:3px solid #0065bd;
}
#irn65b:hover{
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.06) scaleY(1.06);
  border:3px solid #0065bd;
}
#i0uanu:active{
  opacity:1;
}
#iuxc1f{
  font-family:Verdana, Geneva, sans-serif;
  text-align:center;
  display:inline-block;
  padding:0 0 0 0;
  position:absolute;
  margin:-15px 0 0 -52px;
  width:103px;
}
#iaetok{
  display:inline-block;
  min-height:31px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:41px;
  width:119px;
  max-width:119px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/ClockIcon.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid white;
  margin:6px 7px 6px 7px;
  padding:22px 0 0 0;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#iaetok:hover{
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.06) scaleY(1.06);
  border:3px solid #0065bd;
}
#ivs833{
  height:58.30194091796875px;
}
#ita5rx{
  position:fixed;
  bottom:-83px;
  text-align:center;
  border-radius:5px 5px 5px 5px;
  height:146.47857666015625px;
  left:0.1px;
  right:860.1px;
  margin:0 0 5px 0;
  transition:all 0.6s ease;
  transform:translateY(0);
  width:328px;
}
#iis4cy{
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
  background-repeat:repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:auto;
  border:3px solid #feff00;
  border-radius:5px 5px 5px 5px;
  text-align:center;
  flex-basis:98.57%;
  min-height:auto;
}
#ibrxyu{
  padding:10px;
  color:#ffffff;
  text-align:center;
  font-family:Verdana, Geneva, sans-serif;
  font-size:17px;
  width:293px;
  display:inline-block;
}
#ih54kj{
  font-family:Verdana, Geneva, sans-serif;
  text-align:center;
  float:none;
  display:inline-block;
  margin:7px 0 0 0;
  font-size:16px;
}
#iuxqfd{
  display:inline-block;
  min-height:40px;
  min-width:50px;
  color:#ffffff;
  text-align:center;
  height:40px;
  width:130px;
  max-width:130px;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  border-radius:10px 10px 10px 10px;
  border:3px solid white;
  margin:6px 7px 6px 7px;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1) scaleY(1);
}
#iuxqfd:hover{
  border:3px solid #5bb9ff;
  transition:all 0.18s ease-in-out;
  transform:scaleX(1.05) scaleY(1.05);
}
#iis4cy:active{
  display:inline-block;
}
#ita5rx:hover{
  transform:translateY(-77px);
  transition:all 0.6s ease-in-out;
}
#iis4cy:hover{
  border:3px solid #feff00;
  border-radius:5px 5px 5px 5px;
  color:#fff500;
}
#iixbo{
  color:#ffffff;
}
#iixbo:hover{
  text-decoration:line-through;
  color:#ff0000;
}
#iabai5:hover{
  color:#fff500;
}
#iabai5{
  font-family:Trebuchet MS, Helvetica, sans-serif;
  font-weight:900;
  color:#fff500;
  font-size:30px;
}
#i83dj{
  font-size:24px;
}
#ie11t6{
  height:72px;
}
#iozx1c{
  font-size:16px;
}
#ieeen1{
  font-size:16px;
}
#iwu05w{
  font-size:16px;
}
#ip2hy8{
  font-size:16px;
}
#igx1ra{
  font-size:16px;
}
#i228mj{
  font-size:16px;
}
#i9ifwx{
  font-size:16px;
}
#ick0gp{
  font-size:16px;
}
#ib4q2y{
  font-size:24px;
}
#iekh9h{
  font-size:16px;
}
#i2r4wf:hover{
  color:#fff500;
}
#i2r4wf{
  font-family:Trebuchet MS, Helvetica, sans-serif;
  font-weight:900;
  color:#fff500;
  font-size:30px;
}
#i3yvoz{
  padding:10px;
  border-radius:10px 10px 10px 10px;
  background-repeat:repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  text-align:left;
  margin:0 30px 0 30px;
  color:#ffffff;
  font-weight:400;
  font-family:Verdana, Geneva, sans-serif;
  border:3px solid white;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
}
#isdytg{
  height:72px;
}
#iyub16{
  height:58px;
}
#ir3zqx{
  font-size:24px;
}
#iknd9a:hover{
  color:#fff500;
}
#iknd9a{
  font-family:Trebuchet MS, Helvetica, sans-serif;
  font-weight:900;
  color:#fff500;
  font-size:30px;
}
#id6fev{
  padding:10px;
  border-radius:10px 10px 10px 10px;
  background-repeat:repeat;
  background-position:center center;
  background-attachment:local;
  background-size:cover;
  text-align:left;
  margin:0 30px 0 30px;
  color:#ffffff;
  font-weight:400;
  font-family:Verdana, Geneva, sans-serif;
  border:3px solid white;
  background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
}
#i3l74l{
  height:72px;
}
#igl1gg{
  height:58px;
}
@media (max-width: 992px){
  #irn65b{
    margin:6px 7px 6px 7px;
  }
  #ia010i{
    margin:6px 7px 6px 7px;
  }
  #i97tc4{
    margin:6px 7px 6px 7px;
  }
  #isp19b{
    margin:6px 7px 6px 7px;
  }
  #iaetok{
    margin:6px 7px 6px 7px;
  }
  #ita5rx{
    width:201px;
  }
  #iuxqfd{
    margin:6px 7px 6px 7px;
  }
  #ibrxyu{
    width:167px;
    font-size:14px;
  }
  #i0ub1y{
    height:212.703125px;
  }
  #iis4cy{
    flex-basis:1%;
  }
  #iuxqfd:hover{
    border:3px solid #5bb9ff;
  }
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
@media (max-width: 480px){
  #iqho{
    font-size:11px;
    line-height:16px;
    margin:-3px 0 0 0;
  }
  #i1wm{
    line-height:20px;
    font-size:47px;
  }
  #i0uanu{
    height:181.3578088623047px;
  }
  #ixk9s2{
    text-align:center;
  }
  #irn65b{
    display:inline-block;
    max-width:294px;
    width:230px;
    background-image:url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/HomeIcon.svg'), url('https://raw.githubusercontent.com/FearedFusionX/FearedFusionX/main/assets/images/DarkGreyishThing.svg');
    background-repeat:no-repeat, repeat;
    background-position:center center, left top;
    background-attachment:local, scroll;
    background-size:auto, auto;
    color:#ff2e2e;
  }
  #ia08uy{
    line-height:17px;
  }
  #ieo6z6{
    line-height:12px;
  }
  #i0ub1y{
    height:225.703125px;
  }
  #ibrxyu{
    width:266px;
    font-size:11px;
  }
  #ita5rx{
    height:115.85410244140627px;
    left:0;
    width:310px;
  }
  #i8pf{
    height:83.89151000976562px;
  }
}
